.player
  absolute top left
  c #f #3
  size 100% player-height
  text-align center
  iframe
    display none

  .buttons
    display inline-block

    button
      position relative
      float left
      bgc rgba(#fff, 1)
      h player-height
      padding-x 25
      border-radius 0
      margin-x 1
      svg
        size 24 auto
        margin-top 3px
        &.pause
          width 20
          fill #a !important
        &.throbber
          absolute top 50% left 50%
          margin-left -15px
          margin-top -15px
          width 30
          fill #17d25d
      &.toggle
        width 74px
        padding 0
        svg // play
          fill #1bbf8f

      &.prev
      &.next
        svg
          fill #32868d
        &.disabled
          bgc #f8
          pointer-events none
          svg
            fill #a
      &.next
        svg
          transform rotate(180deg)


