
@keyframes throbber {
  0% {
    transform rotate(0deg)
  }

  50% {
    transform rotate(-180deg)
  }

  100% {
    transform rotate(-360deg)
  }

}

.throbber
  animation throbber 1s infinite linear

