html
  //font-size px2vw(bp-desktop)

  //+above(bp-desktop)
    //font-size 10

body
  color color-text color-bg
  font-family font
  font-size 16px 1

a
  c color-link
  text-decoration none
  cursor pointer
  &:hover
    c color-link-hover

img
  max-width 100%
  height auto

main
  display flex
  justify-content center 
  