.btn
  float left
  border #ea
  border-radius 3
  color color-blue #f
  height 26px
  font-size 11px 24px
  padding-x 10
  font-weight bold
  cursor pointer
  text-transform uppercase
  box-shadow 0 1px 2px rgba(0,0,0,0.05)
  transition all 0.25s ease
  letter-spacing -0.1px
  &:hover
    color #000 #fc
    border-color #b
    box-shadow 0 1px 2px rgba(0,0,0,0.07)
