.song
  songHeight = 40px

  position relative
  display flex
  margin-top 2px
  bgc #f6

  &:nth-child(even)
    bgc #f4

  &:hover
  &.playing
    // background-color #FFF
  &.playing
    bgc #abe8c2
  &.paused
    bgc rgba(#abe8c2, 0.5)

  a
    relative z 5
    size 100% songHeight
    font-size 15/songHeight+1
    padding-left 7
    font-weight light
    c #3
    transition all 0.55s tr-bounce
    background-position -15 center
    background-repeat no-repeat
    white-space nowrap
    letter-spacing -.1px

    .playing&
      font-weight normal
      c #0
      background-image url('../img/picto/play.svg')
      background-position 6 center
      background-size 15 auto
    .paused&
      font-weight normal
      background-image url('../img/picto/pause.svg')
      background-position 7 center
      background-size 13 auto
    .playing&
    .paused&
      padding-left 26px


  .progress
    absolute top left z 1
    size 0 100%
    bgc rgba(#333, 0.07)
    transition all 0.3s ease
    pointer-events none
    .playing&
    .paused&
      bgc rgba(#333, 0.13)

  .position
    absolute top 10 right 5 z 10
    height 19px
    padding-x 4
    border-radius 5
    font-size 12.5 / 20px
    letter-spacing -0.2px
    background-color rgba(#fff, 0.95)
    pointer-events none

