*
  box-sizing border-box
  margin 0
  padding 0
  list-style none
  outline 0


button
  appearance none
  cursor pointer
  text-decoration none
  outline 0
  border 0
  &::-moz-focus-inner
    border none
    padding 0