font = 'Roboto', sans-serif

color-turquoise = #42a3b1
color-blue = #3c7ba2
// color-dark-blue = #202D34
color-dark-blue = linear-gradient(to right, #182e3f, #294961)

color-text       = #333
// color-bg         = #e9e9e9
color-bg         = linear-gradient(to bottom, #f4f4f4, #e9e9e9)
color-link       = #16518e
color-link-hover = #000

bp-desktop = 960px


player-height = 60px

tr-bounce = cubic-bezier(0.175, 0.885, 0.320, 1.275)
tr-soft-bounce = cubic-bezier(0.175, 0.885, 0.320, 1.1)

R =
  position relative
  float left
  width 100%

.R
  {R}